<div class="moldura">
  <div class="bg-dark text-white backgroundTitulo ">
   <div class="tituloNome">
     {{livro?.name}}
   </div>
   </div>
   <div class="backgroundImg">
     <img class="img" [src]="livro?.image">
   </div>
   <div class="">
     <div class="fonte">Tipo - {{livro?.type}}</div>
     <div class="fonte">Ano - {{livro?.year}}</div>
     <div class="description">Descrição - {{livro?.description}}</div>
   </div>
     <button [disabled]="isDisabled" (click)="saveNewRentLivro(id)" class="btn btn-alugar">Alugar</button>
   <div class="" style="float:left;">
     <button [routerLink]="['/livros']" class="btn btn-detalhe marginsBtn">Voltar</button>
     <button [disabled]="isDisabled" [routerLink]="['/livros/edit', livro.id]" class="btn btn-detalhe">Editar</button>
   </div>
</div>