<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="livro.name" placeholder="Nome" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="type" [(ngModel)]="livro.type" placeholder="Tipo" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="description" [(ngModel)]="livro.description" placeholder="Descrição"
            class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="year" [(ngModel)]="livro.year" placeholder="Ano" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="url" name="image" [(ngModel)]="livro.image" placeholder="URL Imagem" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="saveNewLivro()">Salvar</button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center position">
    <img [src]="!livro.image ? '/assets/noimage.png' : livro.image" alt="Sem imagem" class="card-img-top">
    <h3>{{livro.id}}. {{livro.name|| 'livro Name'}}</h3>
    <p>{{livro.type|| 'livro Type'}}</p>
    <p>{{livro.description|| 'livro Descrition'}}</p>
    <p>{{livro.year|| 'livro Year'}}</p>
  </div>
</div>
